{% extends "base.html" %}

{% block title %}ホーム - OZSProfile{% endblock %}

{% block content %}
<div class="container">
    <h2 class="mt-4">プロフィール</h2>
    <div class="card shadow-sm p-4 mt-3">
        <p><strong>所属：</strong> 社労士事務所</p>
        <p><strong>役職：</strong> 社内のDX担当</p>
    </div>

    <h3 class="mt-5">担当業務</h3>
    <div class="row">
        <div class="col-md-6">
            <div class="card shadow-sm p-3 mt-3">
                <h5>Power Automate Desktop</h5>
                <ul>
                    <li>社労夢のダウンロード、DOCU印刷、紙印刷</li>
                    <li>社労夢から必要なデータ出力</li>
                </ul>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card shadow-sm p-3 mt-3">
                <h5>Google Apps Script</h5>
                <ul>
                    <li>ChatWorkを使用した社内連絡</li>
                </ul>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card shadow-sm p-3 mt-3">
                <h5>Python</h5>
                <ul>
                    <li>データ加工、EXE化してツール配布</li>
                </ul>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card shadow-sm p-3 mt-3">
                <h5>VBA</h5>
                <ul>
                    <li>データ加工、マクロブック、個人用マクロブックへのインポート</li>
                </ul>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card shadow-sm p-3 mt-3">
                <h5>Kintone JS</h5>
                <ul>
                    <li>Kintone APIを使用した業務連絡</li>
                </ul>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card shadow-sm p-3 mt-3">
                <h5>事務処理</h5>
                <ul>
                    <li>通知書管理</li>
                    <li>給与計算補助</li>
                </ul>
            </div>
        </div>
    </div>

    <h3 class="mt-5">スキルリスト</h3>
    <div class="card shadow-sm p-3 mt-3">
        <ul>
            <li>FLASK を使用した Web アプリ作成</li>
        </ul>
    </div>

    <div class="row mt-5">
        <div class="col-md-6">
            <h3>保有資格</h3>
            <div class="card shadow-sm p-3 mt-3">
                <ul>
                    <li>VBA Standard Crown</li>
                    <li>Oracle Certified Java Programmer Bronze SE</li>
                    <li>Oracle Master Bronze DBA 2019</li>
                    <li>セキュリティマネジメント</li>
                    <li>WinActor RPA技術者 アソシエイト</li>
                    <li>AWS Certified Cloud Practitioner</li>
                    <li>Webクリエイター能力認定エキスパート</li>
                    <li>ITパスポート</li>
                    <li>英検2級</li>
                </ul>
            </div>
        </div>
        <div class="col-md-6">
            <h3>趣味


            </h3>
            <div class="card shadow-sm p-3 mt-3">
                <ul>
                    <li>筋トレ</li>
                    <li>接骨院通い</li>
                    <li>IT資格挑戦</li>
                    <li>HumanBeatBox</li>
                    <li>Scratch</li>
                </ul>
            </div>
        </div>
    </div>

</div>
{% endblock %}
